<div class="represent">
    <span class="represent__marker"></span>
    <h3>Text Result</h3>
    <div class="represent__content">
        <p class="represent__text">
            One Million Two hundred Sixty Nine Thousand Three Hundred Fifty
        </p>
        <label for="number">
            <span class="represent__label">
                Number to represent:
            </span>
            <input type="number" name="number" id="number">
        </label>
        <button type="button" class="represent__submit">Submit</button>
    </div>
</div>